// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#head1 {

  color: #1c73b8;
}

#head1 small {
  color: #3791b4;
}

#logoimage {
  position: relative;
  top: 40px;
  left: 60px;
}